@import "../source/variables";
@import "../source/mixins";
@import "../source/variables";

.collectionsPage {
  @include flex-column-space-around;
  @include backgroundOfPage;
  padding: 20px;
  height: fit-content;
}

.cardsWrapper {
  @include flex-space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 350px;
  height: 250px;
  box-shadow: $box-shadow;
}

.card:hover .dandruff {
  left: 45%;
  top: 35%;
  font-size: 50px;
  cursor: pointer;
}

.screen {
  width: 300px;
  height: 200px;
}

.dandruff {
  position: absolute;
  z-index: 0;
}

.cardFooter {
  text-align: center;
}
