.loaderWrapper {
  position: relative;
  z-index: 999;
  left: 50%;
}

@for $i from 0 through 71 {
  $deg: 5*$i;
  .loaderWrapper div:nth-child(#{$i}) {
    position: absolute;
    height: 50px;
    width: 50px;
    transform-origin: 100% 50%;
    transform: rotate(#{$deg}deg);
  }

  .loaderWrapper div:nth-child(#{$i}) .bar {
    position: absolute;
    height: 1px;
    width: 100px;
    left: 0;
    border-radius: 20px;
    transform-origin: right;
    animation: spin 4s linear infinite;
    background-color: rgb(18 + $i*3.26, 188, 176 + $i* -2.28);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

