.Sidebar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  width: 200px;
  height: 100%;
  background-color: black;
  opacity: 0.7;

  transition: left 1.8s;
}

.Sidebar-hidden {
  position: absolute;
  z-index: 3;
  top: 0;
  left: -300px;
  bottom: 0;
  right: 0;

  display: flex;
  width: 200px;
  height: 100%;
  background-color: black;
  opacity: 0.7;

  transition: left 1.8s;
}


