@import "source/mixins";
@import "source/variables";
@import "components/Header";
@import "components/modelComponent";
@import "components/Dropzone";
@import "components/loading";
@import "components/Home";

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Wrapper {
  width: 100vw;
  height: 100vh;
}

.Components {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.Background {
  position: absolute;
  z-index: 1;
}

.centeredColumn{
  @include flex-center;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
}

.centeredRow{
  @include flex-center;
  flex-direction: column;
  padding: 30px;
  margin: 30px;
}
