$font-family: Century Gothic, sans-serif;
$primary-color: rgb(18, 188, 176);
$secondary-color: rgb(250, 190, 14);
$backgrounds-rgba-color: rgba(0, 0, 0, 0.3);
$text-color: #c0f0de;
$green-helpful: rgb(3, 126, 123);
$font-weight: 100;
$text-shadow: 2px 2px 0px rgba(0,0,0,0.2);


